* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #000000, #555555); /* Degradê preto para cinza */
    color: #fff;
    font-family: 'Rock Salt', cursive;
    min-height: 100vh; /* Garante que o gradiente cubra toda a altura da tela */
}

.container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 2.5rem;
    color: #f4d03f;
    text-shadow: 2px 2px #e74c3c;
}

input {
    margin-top: 50px;
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1rem;
}

button {
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c0392b;
}

ul {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
}

li {
   
    background-color: #34495e;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    max-width: 400px;
}

li button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

li button:hover {
    background-color: #c0392b;
}
